body {
    font-size: 13px;
    font-family: Cambria;
    font-style: normal;
    font-weight: 400;
}

img {
    max-width: 100%;
    max-height: 100%;
}

dl {
    float: left;
}

dl, dt {
    margin: 5px;
}

div {
    width: 750px;
    margin: auto;
    clear: both;
}

table {
    font-size: 15px;
    line-height: 22px;
    width: 100%;
}

    table tr:nth-child(odd) {
        background: #CCC;
    }

h1 {
    font-size: 52px;
    line-height: 73px;
    margin-bottom: 25px;
}

h4 {
    font-size: 32px;
}

p {
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 35px;
    clear: both;
}

    p.weights {
        letter-spacing: 2px;
        font-size: 13px;
        color: rgba(173,173,173,1);
        margin-bottom: 35px;
        border-width: 0px 0px 1px 0px;
        border-style: dotted;
        margin-top: 45px;
    }

    p.heading {
        letter-spacing: 2px;
        font-size: 13px;
        margin-bottom: 35px;
        border-width: 0px 0px 1px 0px;
        border-style: dotted;
        margin-top: 45px;
        color: rgba(0,0,0,1);
    }

    p.intro {
        margin-bottom: 35px;
        font-size: 21px;
        line-height: 28px;
    }

    p.inverse-big {
        background-color: rgba(51,51,51,1);
        color: rgba(255,255,255,1);
        padding: 30px;
        margin-bottom: 0px;
    }

.inverse-small {
    background-color: rgba(51,51,51,1);
    color: rgba(255,255,255,1);
    padding: 10px;
    margin-bottom: 0px;
}

p.footer {
    text-align: right;
    letter-spacing: 2px;
    font-size: 13px;
    margin-bottom: 35px;
    border-width: 1px 0px 0px 0px;
    border-style: dotted;
    margin-top: 45px;
    color: rgba(0,0,0,1);
}

p.buttonLabel {
    font-size: 12px;
    margin-bottom: 0;
    clear: both;
}

p.label {
    font-size: 14px;
    margin-bottom: 0;
    clear: both;
}

.error {
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 35px;
    padding-left: 15px;
    border-width: 0px 0px 0px 3px;
    border-style: solid;
    border-color: red;
    font-weight: 700;
    color: red;
}

.success {
    background-color: lightblue;
}
